<header>
  <button>Inicio</button>
  <button>Sobre mí</button>
  <button>Proyectos</button>
  <button>Experiencia</button>
  <button>Tecnologías</button>
  <button>Contacto</button>

  <app-toogle-button (fire)="onToogle($event)"></app-toogle-button>

</header>

@if (this.isVisible()) {

  <div class="spawn w-[90%] ml-[5%] h-[80vh] p-[1%] mt-[3%] overflow-y-auto">
    <div class="sticky top-0 w-full flex flex-row-reverse  z-50">
      <button (click)="closeElement()">X</button>
    </div>

    <div class="w-[100%]">
      <h2>
        {{ this.projectSelected().title }}
      </h2>

      <div class="w-[100%] h-[50vh] mb-[10%]">

        <div class="carousel-container">
          <button (click)="prev(carousel)" class="carousel-button prev" aria-label="Anterior"><</button>
          <ul #carousel class="carousel">

            @for (image of this.projectSelected().carrusel; track image){

              <li class="carousel-item"> <img [src]="image" class=" w-[100%] h-[100%] object-contain"/> </li>

            }
          </ul>
          <button (click)="next(carousel)"  class="carousel-button next" aria-label="Siguiente"> > </button>
        </div>

      </div>
    </div>

    <div class="flex-col flex">
      <p>
        {{ this.projectSelected().description }}
      </p>

      <h2 class="mt-[2%]">Características de la aplicación</h2>
      <ul >
        @for(iterator of projectSelected().mainCharacteristics; track iterator){
          <li>
            <h3>{{ iterator }}</h3>
          </li>
        }
      </ul>
    </div>

    <div class="mt-[2%]">
      <p>
        {{projectSelected().xp}}
      </p>
    </div>

    <div>
      <h2>Tecnologias usadas</h2>

      

    </div>

    <div>



    </div>

  </div>

}

@if (!this.isVisible()) {

  <main>

    <div class="start-container">

      <div class="start-container-photocontainer">
        <img src="Me.JPG" alt="foto de javier" class="me">
      </div>

      <div class="start-container-infocontainer">
        <h1>Javier Palacios</h1>
        <p>Ingeniero en sistemas computacionales</p>

        <div class="contact-me">
          <button>Contáctame aquí</button>
          <button>Descargar CV</button>

          <div class="icons">
            <img src="octocat.svg" alt="Octocat" >
            <img src="ln.svg" alt="ln">
          </div>

        </div>

      </div>


    </div>

    <div class="about-me">
      <h1>Acerca de mí</h1>
      <p>Soy Ingeniero en Sistemas Computacionales con amplia experiencia en desarrollo backend
        usando Spring Boot. En mis tiempos libres profundizo en backend para mejorar mis habilidades.
        Me caracteriza mi pasión por la tecnología, mi capacidad de aprendizaje continuo
        y mi habilidad para trabajar en equipo, siempre aportando soluciones eficientes y escalables.
        Además, soy una persona proactiva y resolutiva, que se anticipa a los desafíos y busca
        mantenerse un paso por delante. Actualmente junto con spring boot suelo trabajar con
        con Angular como siguiente arte pero a lo que me dedico y me gusta es trabajar con el backend.
      </p>
    </div>

    <div class="projects">
      <h1>Proyectos</h1>

      <div class="projects-list">

        @for (project of projects; track projects){
          <app-card-project (onSave)="onVisible($event)" [project]=project></app-card-project>
        }

      </div>


    </div>

  </main>



}

